
<div class='container'>
  <p id="notice"><%= notice %></p>

  <h1>HANDICAP TRACKER</h1>

  <div class='handicap-box'>
    <h3>HANDICAP INDEX</h3>
    <div><%= @handicap %></div>
  </div>


  <div class='course-list-container'>
        <% @courses.each do |course| %>
          <div class = 'course-box'>
            <p class='delete'><%= link_to 'x', course, method: :delete, data: { confirm: 'Delete Course?' } %></p>
            <div class='course-box-content'>
              <h3 class='course-name'><%= course.name %></h3>
              <button class='post'><%= link_to 'POST SCORE', course %></button>
            </div>
          </div>
        <% end %>
        <div class='course-box add'>
          <%= link_to '+', new_course_path %>
        </div>
  </div>
</div>
