
<div class='container'>
  <p id="notice"><%= notice %></p>


  <div class='handicap-box'>
    <h3>HANDICAP INDEX</h3>
    <div><%= @handicap %></div>
  </div>


  <div class='course-list-container'>
        <% @courses.each do |course| %>
          <div class = 'course-box'>
            <h3 class='course-name'><%= course.name %></h3>
            <button><%= link_to 'Post Score', course %></button>
            <button><%= link_to 'Delete', course, method: :delete, data: { confirm: 'Are you sure?' } %></button>
          </div>
        <% end %>
        <div class='course-box'>
          <p>+</p>
          <%= link_to 'Add Course', new_course_path %>
        </div>
  </div>
</div>
