<p id="notice"><%= notice %></p>

<div class='container'>
  <p>
    <strong>Name:</strong>
    <%= @course.name %>
  </p>

  <p>
    <strong>Rating:</strong>
    <%= @course.rating %>
  </p>

  <p>
    <strong>Slope:</strong>
    <%= @course.slope %>
  </p>

  <div id='scores-wrapper'>
    <%= render @course.scores %>
    <div id='form'>
      <%= render 'scores/form'%>
    </div>
  </div>

  <%= link_to 'Edit Course Details', edit_course_path(@course) %> |
  <%= link_to 'Home', courses_path %>
<div>
